@model StartCinema.ViewModel.CinemaViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinemaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaSeatCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaSeatCapacity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" 
             onclick="return confirm('Are you sure you want to delete record?');"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
